@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*colors*/
  --clr-primary: #536851;
  --clr-primary-light: #6e8e69;

  /*fonts*/
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Amatic SC", cursive;
}

ul {
  list-style-type: none;
}

body {
  background: black;
  overflow: hidden;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

main {
  background-color: white;
  z-index: 10;
  width: 90vw;
  max-width: 1100px;
  height: 65vh;
  max-height: 900px;
  transition: ease 0.5s;
  border: black dashed 4px;
  opacity: 0.97;
}

audio {
  display: none;
}

main:hover {
  opacity: 1;
}

@keyframes glow {
  0% {
    opacity: 0.5;
  }

  10% {
    opacity: 1;
    /* background-color: rgba(255, 255, 255, 0.09); */
    box-shadow: 0 -5px 25px 12px rgba(255, 255, 255, 0.09),
      0 -5px 35px 17px rgba(255, 255, 255, 0.045);
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes switch-border {
  0% {
    border-color: white;
  }

  100% {
    border-color: black;
  }
}

.title {
  margin-top: 6rem;
  color: black;
  font-family: var(--ff-secondary);
}

.title h1 {
  font-weight: 700;
  font-size: 2.75rem;
}

.title h2 {
  font-weight: 400;
  font-size: 2rem;
  margin-top: 0.5rem;
}

.title i {
  font-size: 1.25rem;
}

.lunar {
  position: absolute;
  border-radius: 50%;
  image-rendering: crisp-edges;
}

.pp {
  width: 10rem;
  border-radius: 50%;
  border: dashed black 4px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.pp:hover {
  border: dashed white 4px;
}

.white {
  border-color: white;
}

section {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article {
  text-align: center;
}

.perks {
  text-align: left;
  align-self: center;
  line-height: 1.75rem;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: #555555;
}

.perks i {
  font-size: 1.25rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  color: #666666;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 0 4rem;
  position: relative;
}

.social h4 {
  position: absolute;
  font-weight: 300;
  color: black;
  text-transform: lowercase;
  font-size: 0.75rem;
  top: -25px;
  left: 50%;
  transform: translate(-50%, 0);
}

.social a {
  text-decoration: none;
}

.social-icon {
  color: #444444;
  font-size: 2.5rem;
  transition: ease 0.5s;
}

.social-icon:hover {
  color: black;
  transform: scale(1.06);
}

@media screen and (max-height: 750px) {
  main {
    height: 75vh;
  }

  .title {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 580px) {
  .title h1 {
    font-size: 2rem;
  }

  .title h2 {
    font-size: 1.5rem;
    margin-top: 0.25rem;
  }

  section {
    width: 100%;
  }

  .perks {
    line-height: 1.5rem;
  }

  .perks i {
    font-size: 1.25rem;
    margin-right: 0.5rem;
  }

  .social {
    padding: 0 1.25rem;
  }

  .social-icon {
    font-size: 2rem;
  }
}

/* POPUP */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  font-size: 1rem;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* POPUP */
