* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

body {
  background: black;
  overflow: hidden;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

main {
  background-color: white;
  z-index: 10;
  width: 90vw;
  max-width: 1024px;
  height: 60vh;
  max-height: 900px;
  transition: ease .5s;
  outline: rgba(255, 255, 255, 0.5) dashed 3px;
  opacity: 0.95;
}

audio {
  display: none;
}

main:hover {
  opacity: .97;
}


@keyframes glow {
  0% {
    opacity: 0.5;
  }

  40%,
  60% {
    opacity: 1;
    /* background-color: rgba(255, 255, 255, 0.09); */
    box-shadow: 0 -5px 25px 12px rgba(255, 255, 255, 0.09),
      0 -5px 35px 17px rgba(255, 255, 255, 0.045);
  }

  100% {
    opacity: 0.5;
  }
}

.lunar {
  position: absolute;
  border-radius: 50%;
  image-rendering: crisp-edges;
}

.pp {
  width: 10rem;
  border-radius: 50%;
  border: dashed black 3px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%)
}

section {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article {
  text-align: center;
}

.title {
  margin-top: 6rem;
}

.title h2 {
  margin-top: 1rem;
}

.perks {
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
  color: #666666
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}

.social a {
  text-decoration: none;
}

.social-icon {
  color: #555555;
  font-size: 2rem;
  transition: ease .5s;
  margin: 0 1rem;
}

.social-icon:hover {
  color: #222222;
  transform: scale(1.02)
}